In [1]:
import pandas as pd
from pycaret.classification import *

/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
df = pd.read_csv("Major_Crime_Indicators_Open_Data.csv")

In [3]:
df.head()

,X,Y,REPORT_DATE,OCC_DATE,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_DOY,OCC_DOW,OCC_HOUR,LOCATION_TYPE,PREMISES_TYPE,UCR_CODE,UCR_EXT,OFFENCE,MCI_CATEGORY,NEIGHBOURHOOD_158,NEIGHBOURHOOD_140
0,-79.350229,43.646293,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,Wednesday,3,2014,January,1,1,Wednesday,3,"Commercial Dwelling Unit (Hotel, Motel, B & B,...",Commercial,2120,200,B&E,Break and Enter,South Riverdale,South Riverdale (70)
1,-79.376497,43.666423,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,Wednesday,4,2014,January,1,1,Wednesday,4,"Apartment (Rooming House, Condo)",Apartment,1430,100,Assault,Assault,North St.James Town,North St.James Town (74)
2,-85.488744,0.000000,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,Wednesday,4,2014,January,1,1,Wednesday,4,"Streets, Roads, Highways (Bicycle Path, Privat...",Outside,2130,210,Theft Over,Theft Over,NSA,NSA
3,-79.344839,43.678946,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,Wednesday,4,2014,January,1,1,Wednesday,4,"Streets, Roads, Highways (Bicycle Path, Privat...",Outside,1430,100,Assault,Assault,Blake-Jones,Danforth (66)
4,-79.391841,43.646639,2014/01/01 05:00:00+00,2014/01/01 05:00:00+00,2014,January,1,1,Wednesday,2,2014,January,1,1,Wednesday,2,Bar / Restaurant,Commercial,1420,110,Assault Bodily Harm,Assault,Wellington Place,Waterfront Communities-The Island (77)

In [4]:
df.columns.tolist()

['X',
 'Y',
 'REPORT_DATE',
 'OCC_DATE',
 'REPORT_YEAR',
 'REPORT_MONTH',
 'REPORT_DAY',
 'REPORT_DOY',
 'REPORT_DOW',
 'REPORT_HOUR',
 'OCC_YEAR',
 'OCC_MONTH',
 'OCC_DAY',
 'OCC_DOY',
 'OCC_DOW',
 'OCC_HOUR',
 'LOCATION_TYPE',
 'PREMISES_TYPE',
 'UCR_CODE',
 'UCR_EXT',
 'OFFENCE',
 'MCI_CATEGORY',
 'NEIGHBOURHOOD_158',
 'NEIGHBOURHOOD_140']

In [5]:
model_data = df[['OCC_MONTH','OCC_DOW','OCC_HOUR',
               'PREMISES_TYPE','NEIGHBOURHOOD_158','MCI_CATEGORY']]

In [6]:
model_data.head()

,OCC_MONTH,OCC_DOW,OCC_HOUR,PREMISES_TYPE,NEIGHBOURHOOD_158,MCI_CATEGORY
0,January,Wednesday,3,Commercial,South Riverdale,Break and Enter
1,January,Wednesday,4,Apartment,North St.James Town,Assault
2,January,Wednesday,4,Outside,NSA,Theft Over
3,January,Wednesday,4,Outside,Blake-Jones,Assault
4,January,Wednesday,2,Commercial,Wellington Place,Assault

In [7]:
# Create categorical data
model_data["OCC_MONTH"] = model_data["OCC_MONTH"].astype('category')
model_data["OCC_DOW"] = model_data["OCC_DOW"].astype('category')
model_data["PREMISES_TYPE"] = model_data["PREMISES_TYPE"].astype('category')
model_data["NEIGHBOURHOOD_158"] = model_data["NEIGHBOURHOOD_158"].astype('category')
model_data["MCI_CATEGORY"] = model_data["MCI_CATEGORY"].astype('category')

model_data["OCC_MONTH_cat"] = model_data["OCC_MONTH"].cat.codes
model_data["OCC_DOW_cat"] = model_data["OCC_DOW"].cat.codes
model_data["PREMISES_TYPE_cat"] = model_data["PREMISES_TYPE"].cat.codes
model_data["NEIGHBOURHOOD_158_cat"] = model_data["NEIGHBOURHOOD_158"].cat.codes
model_data["MCI_CATEGORY_cat"] = model_data["MCI_CATEGORY"].cat.codes

In [8]:
model_data = model_data[['OCC_MONTH_cat','OCC_DOW_cat','OCC_HOUR','PREMISES_TYPE_cat',
                         'NEIGHBOURHOOD_158_cat','MCI_CATEGORY_cat']]

In [9]:
model_data.head()

,OCC_MONTH_cat,OCC_DOW_cat,OCC_HOUR,PREMISES_TYPE_cat,NEIGHBOURHOOD_158_cat,MCI_CATEGORY_cat
0,4,6,3,1,125,2
1,4,6,4,0,102,0
2,4,6,4,5,97,4
3,4,6,4,5,16,0
4,4,6,2,1,138,0

In [10]:
exp_class101 = setup(data = model_data, target = 'MCI_CATEGORY_cat', session_id=123)

In [11]:
best = compare_models()

In [12]:
print(best)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=123, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [13]:
models()

,Name,Reference,Turbo
ID,,,
lr,Logistic Regression,sklearn.linear_model._logistic.LogisticRegression,True
knn,K Neighbors Classifier,sklearn.neighbors._classification.KNeighborsCl...,True
nb,Naive Bayes,sklearn.naive_bayes.GaussianNB,True
dt,Decision Tree Classifier,sklearn.tree._classes.DecisionTreeClassifier,True
svm,SVM - Linear Kernel,sklearn.linear_model._stochastic_gradient.SGDC...,True
rbfsvm,SVM - Radial Kernel,sklearn.svm._classes.SVC,False
gpc,Gaussian Process Classifier,sklearn.gaussian_process._gpc.GaussianProcessC...,False
mlp,MLP Classifier,sklearn.neural_network._multilayer_perceptron....,False
ridge,Ridge Classifier,sklearn.linear_model._ridge.RidgeClassifier,True
rf,Random Forest Classifier,sklearn.ensemble._forest.RandomForestClassifier,True
qda,Quadratic Discriminant Analysis,sklearn.discriminant_analysis.QuadraticDiscrim...,True
ada,Ada Boost Classifier,sklearn.ensemble._weight_boosting.AdaBoostClas...,True
gbc,Gradient Boosting Classifier,sklearn.ensemble._gb.GradientBoostingClassifier,True
lda,Linear Discriminant Analysis,sklearn.discriminant_analysis.LinearDiscrimina...,True
et,Extra Trees Classifier,sklearn.ensemble._forest.ExtraTreesClassifier,True
lightgbm,Light Gradient Boosting Machine,lightgbm.sklearn.LGBMClassifier,True
dummy,Dummy Classifier,sklearn.dummy.DummyClassifier,True

In [14]:
lightgbm = create_model('lightgbm')

In [ ]:
tuned_lighgbm = tune_model(lightgbm)

IntProgress(value=0, description='Processing: ', max=7)

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,05:20:11
Status,. . . . . . . . . . . . . . . . . .,Searching Hyperparameters
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

Empty DataFrame
Columns: [Fold, Accuracy, AUC, Recall, Prec., F1, Kappa, MCC]
Index: []

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:  4.5min

In [ ]:
predict_model(tuned_lightgbm);

In [ ]:
final_lightgbm = finalize_model(tuned_lightgbm)

In [ ]:
final_lightgbm

In [ ]:
save_model(final_lightgbm,'Final lightgbm')

In [ ]:
saved_final_lightgbm = load_model('Final lightgbm')